  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
    <body>
  	<div class="jumbotron landing">
		<div class="container">
			<div class="row">
				<img class="logo col-xs-4 col-md-1" src="/images/compass.png" />
				<h1>Welcome to DatePathfinder</h1>
				<p>A curated service for planning dates.</p>
			</div>
		</div>
  	</div>
  	<div class="container">