<!DOCTYPE html>
<html>
	<%- include head_tem.ejs %>
  		<div class="row">
  			<div class="col-sm-offset-3 col-sm-6">
    			<p>Welcome to DatePathfinder! Oftentimes in relationships act of dating can become habitually boring
    			and unadventurous due to couples overworking or inability to plan outside the routine.</p>
    			<p>DatePathfinder aims to reinvent the modern date in three acts. In each act DatePathfinder will provide results based on your location and interests.</p>
    			<p>We hope you enjoy putting your plans this evening to chance!</p>
    			<!-- <p><%= session %></p> -->
    		</div>
    	</div>

    	<nav>
    		<ul class="pager">
    			<li><a href="/<%= session %>/start" >Let's get started <span> &#8594; </span></a></li>
    		</ul>
    	</nav>
    </div>
    <script src="//localhost:35729/livereload.js"></script>
  </body>
</html>
